@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body{
    color: #000;
    font-family: "Merriweather", serif;
}
.background{
    position: relative;
    background: linear-gradient(170deg, #f5f57b 35%, #fff6fb 100%);
}
.logo{
    font-size: 2em;
    font-weight: 600;
    flex: 1;
    color: #600081;
    display: flex;
    align-items: center;
}
logo img{
    width: 70px;
    margin-right: 1%;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0;
    position: fixed;
    font-family: "Ubuntu", serif;
}
.navbar.scrolled{
    background-color: #fff066;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}
.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    justify-content: center;
}
.nav_items li{
    list-style: none;
    padding: 1em;
}
.nav_items li a{
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}
.nav_items li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #64009e;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_items li:hover::after{
    width: 100%;
}
.nav_menu{
    display: none;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: 90%;
    padding: 12em 2em 4em 2em;
    margin: auto;
}
.main h1{
    font-size: 3.5em;
    color: #473829;
    line-height: 1.5;
    padding: 2% 0;
}
.left h3{
    font-size: 20px;
    color: #555;
}
.left p{
    font-size: 14px;
    line-height: 1.5rem;
    padding: 4% 0;
    color: #555;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    width: 650px;
    max-width: 100%;
    height: auto;
}
.btn{
    padding: 12px 25px;
    background-color: #ffe400;
    color: #600081;
    font-size: 25px;
    font-weight: 600;
    border-radius: 25px;
    border: 2px solid #000;
    transition: all 0.5s linear;
}
